# Dependencies
node_modules/
backend/node_modules/
frontend/node_modules/

# Environment variables
.env
.env.local
backend/.env
frontend/.env

# Build outputs
backend/dist/
frontend/dist/
frontend/out/
.github
.specify
_bmad
_bmad-output
claude-sub-agent

# Database
backend/prisma/migrations/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
